.form-profile{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 40px;
    flex: 1;
    
}
.form-profile__input{
    padding: 40px;
    font-size: 15px;
    border-radius: 5px;

}
.form-profile__input:focus{
    border-bottom: 1px solid #f44336!important;
    box-shadow: 0 1px 0 0 #f44336 !important;

}
.form-profile__button{
    background-color: var(--laravel);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}

.form-profile__button:focus{
    background-color: rgb(184, 23, 23)!important;
}
.form-profile__button:hover{
    background-color:  #f16d5e;
    cursor: pointer;
}

.form-profile__label{
    font-size: 1.0em;
    color: var(--deep-grey);
}
